*{
    margin: 0px;
    padding: 0px;
}

body{
    max-width: 1600px;
    margin: auto;
    height: auto;
    background: white;

}

.logo{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    background-color: white;
    padding-left: 3%; 
}

.logo img{
    width: 50px;
    height: 50px;
    margin: 2px;
}


.top{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    background-color: #C4C4C4;
    padding-left: 3%; 
}

.top img{
    width: 70px;
    height: 90px;
    border-radius: 50%;
    margin: 2px;
}

.top h1{
    color: black;
    text-align: center;
    margin-bottom: 4px;
    font-size: 15px;
}

.top h2{
    color: black;
    text-align: center;
    margin-bottom: 4px;
    font-size: 10px;
}

nav{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 170px;
    background: #212523;
    top: 185px;
    bottom: 0;
}

nav .bot .nav-links a{
    display: block;
    padding: 30px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

nav a span{
    margin-left: 25px;
}